@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    
    margin: 0; padding: 0;
    text-decoration: none;
    transition: .3s linear;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 1.3rem 7%;
    border-bottom: 1px solid #dcdcdc;
}
header a{
    color: #272727;
}
header a:hover{
    color: #22618e;
}
header .cart-btn{
    cursor: pointer;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    color: #272727;
    padding: .5rem;
}
header .cart-btn:hover{
    color: #22618e;
}
header .checkout{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 20rem;
    height: 100vh;
    padding: .7rem;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #0000003c;
    transform: translateX(100%);
}
header .checkout.open{
    transform: translateX(0);
}
header .checkout h2{
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    color: #2f2f2f;
}
header .cart-items{
    border-bottom: 1px solid black;
}
header .total-price{
    text-align: right;
    font-size: .9rem;
    padding: 1rem 0;
    color: #59b759;
    font-weight: bold;
}
header .total-price::before{
    content: "Total $";
    font-size: .8rem;
}
header .checkout .buy{
    display: block;
    cursor: pointer;
    border: none;
    background: #ff4444;
    color: white;
    font-weight: bold;
    padding: .7rem 1rem;
    margin: auto;
}
header .checkout .buy:hover{
    background: #ff6a6a;
}

/*ITEM CONTAINER IN CART*/
header .checkout{
    overflow-y: scroll;
}
header .checkout .cart-items .item{
    position: relative;
    padding: .5rem;
    margin: 1rem 0;
    border: 1px solid #eaeaea;
}
header .checkout .cart-items .item .flex{
    display: flex;
    align-items: center;
    padding: .7rem;
}
header .checkout .cart-items .item .item-name{    
    color: #2f2f2f;
    font-size: 1rem;
    padding: .2rem 0;
}
header .checkout .cart-items .item .rm-icon{
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    top: .5rem;
    padding: .3rem;
    color: #2f2f2f;
    font-size: .9rem;
}
header .checkout .cart-items .item .rm-icon:hover{
    color: #ff6a6a;
}
header .checkout .cart-items .item img{
    width: 100px;
}
header .checkout .cart-items .item .item-price{
    font-size: .9rem;
    color: #479c47;
}
header .checkout .cart-items .item .item-price::before{
    content: "$";
    font-size: .7rem;
}
header .checkout .cart-items .item .quantity{
    width: 4rem;
    padding: .5rem;
    margin: 0 .6rem;
    border-radius: 2px;
    outline: transparent;
    border: 1px solid #d0d0d0;
}
header .checkout .cart-items .item .quantity:focus{
    border: transparent;
    outline: 1px solid #68cae6;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #0000004d;
}






main{
    padding: 2rem;
}
main section.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
main section.products .shop-item{
    padding: 1.2rem;
    border: transparent; 
}
main section.products .shop-item:hover{
    transform: scale(0.97);
    border: 1px solid #cecece;
}
main section.products .shop-item .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main section.products .shop-item .item-name{
    font-size: 1rem;
    padding: .5rem 0;
}
main section.products .shop-item img{
    width: 100%;
}
main section.products .shop-item .item-price::before{
    content: "$";
}
main section.products .shop-item .add-cart-btn{
    cursor: pointer;
    color: #272727;
    background-color: transparent;    
    padding: .3rem;
    border: none;
    font-size: 1.2rem;
}
main section.products .shop-item .add-cart-btn:hover{
    color: #479c47;
}


/*btn animation*/
main section.products .shop-item .add-cart-btn.rejected{
    background: transparent;
    color: #ff6a6a;
    animation-name: animation;
    animation-duration: .5s;
    animation-timing-function: 0s;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes animation {
    0% {
        transform: translateY(-5px);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
};